section{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: rgb(228, 168, 168);
}
#div1{
    margin-top: 2%;
    display: inline-block;
    justify-content: center;
    height: 266px;
    width: 266px;
    /* border: 1px solid black; */
    margin-left: 4.5%;
}

.example-card {
    max-width: auto;
    padding: 20px;
}
mat-card-title{
    text-align: center;
    color: white !important; 
}
a{
    text-decoration: none;
    color: #ffffff;
}
.btn{
    left: 40%;
}

