<section>
    <div>
        <div id="div1">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/meeting.png" alt="user management" id="img1">  
                <mat-card-title><a routerLink="/user">user management</a></mat-card-title>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
        <div id="div1">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/costs.png" alt="expense tracker" id="img1">  
                <mat-card-title><a routerLink="/expense">Expense Tracker</a></mat-card-title>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
        <div id="div1">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/notepad.png" alt="user management" id="img1">  
                <mat-card-title><a routerLink="/note">Note Pad</a></mat-card-title>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
        <div id="div1">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/shops.png" alt="user management" id="img1">  
                <mat-card-title>User Store</mat-card-title>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </div>
        <div id="div1">

        </div>
        <div id="div1">

        </div>
        <div id="div1">
            
        </div>
        <div id="div1">
            
        </div>
    </div>
</section>
