<div class="forgottitle">
    <h4>Welcome to Angular Practise Registration</h4>
</div>
<div class="forgot-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Forogot Password </mat-card-title>
      </mat-card-header><br>
        <form class="example-form" [formGroup] = "forgotForm" (ngSubmit) = "handleforgot()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName = "email" type = "email" class = "form-control">
          </mat-form-field>
          <span [hidden]="forgotForm.controls['email'].pristine || forgotForm.controls['email'].valid" style="color: red;">User Email Required</span>
        </mat-card-content>
        <button mat-raised-button color="accent" class="btn">Send Link</button>
        <mat-card-subtitle class="example-form3" routerLink="/login" style="width: fit-content;"><a >Back to</a></mat-card-subtitle>
      </form>
</mat-card>
</div>