<mat-toolbar color="primary">
    <span>Angular Practise</span>
    <span class="example-spacer"></span>
    <span class="example-fill-remaining-space"><a routerLink="">Main</a></span>
    <span class="example-fill-remaining-space"><a routerLink="home">home</a></span>
    <span class="example-fill-remaining-space"><a routerLink="login">login</a></span>
    <span class="example-fill-remaining-space"><a routerLink="register">register</a></span>
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
</mat-toolbar>
